<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.0.xsd 
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

	<context:annotation-config />	
	<context:component-scan base-package="com.uswop.pms.api,com.uswop.pms.dao,com.uswop.pms.service" />
	
    <!-- 国际化操作 拦截器 必需配置,可以和其它国际化方式通用 -->
	<bean id="localeChangeInterceptor" class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor" />
	<bean id="localeResolver" class="org.springframework.web.servlet.i18n.CookieLocaleResolver">
        <property name="cookieName" value="locale"></property>
        <property name="cookieMaxAge" value="86400"></property>
        <property name="defaultLocale" value="en_US"></property>
        <property name="cookieDomain" value="www.uswop.com"></property>
        <property name="cookiePath" value="/"></property>
	</bean>		
	
	<!--开启请求URL映射的自动注解 
	<mvc:annotation-driven/>
	-->
	<!-- 手动引入请求URL映射注解支持类 -->
	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping">
		<property name="interceptors" ref="localeChangeInterceptor" />
	</bean>
	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter"/>
	
	
	<!--使用依赖控制器类名字的惯例，将URI映射到控制器(开启注解的另一种方式) 	
	<bean class="org.springframework.web.servlet.mvc.support.ControllerClassNameHandlerMapping"/>	
	-->				
	 	
</beans>